body  {
    width: 800px;
}

.title-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: red;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.text {
    font-family: 'Quicksand';
    font-weight: 400;
}